# Gradle
.gradle/

# Build outputs
build/
**/build/

# Kotlin
.kotlin/

# Local configuration
local.properties

# Android Studio / IntelliJ
.idea/
*.iml

# Logs
*.log

# APK / AAB
*.apk
*.aab

# Native
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db
